<%= form_with(model: note) do |form| %>
  <div class="d-flex flex-column flex-wrap justify-content-center align-items-center pt-3 mt-1 off-white">
    <div class="d-flex flex-row flex-wrap justify-content-center pt-1 mt-1 off-white">
      <div class="card m-2 shadow d-flex flex-column justify-content-between align-items-center bg-light border-0" style="width: 25rem;">
        <div class="field w-75 m-2 mt-4">
          <%= form.text_field :head, placeholder: "Maximum of 30 characters only", class: "text-center form-control"%>
        </div>
        <div class="field w-75 m-2">
          <%= form.text_area :body, placeholder: "Optional additional information here", class: "text-center form-control w-100"%>
        </div>
        <div class="field m-2 text-center">
          <%= form.label 'Deadline (Optional)', class: "card-text text-dark mb-2" %>
          <%= form.datetime_local_field :deadline, min: Date.today, class: "form-control" %>
        </div>
        <div class="field m-2 text-center">
          <%= form.label 'Label (Required)', class: "card-text text-dark" %>
          <%= form.select :label_id, options_for_select(@labels.collect { |label| [label.title, label.id]}), :include_blank => true %>
          <p class="card-text text-danger mt-2"> <%= @current_label ? 'Previous label was ' + @current_label.title : '' %>  </p>
        </div>
        <div class="field">
          <%= form.number_field :user_id, id: :note_user_id, value: current_user.id, type: :hidden %>
        </div>
        <div class= "actions mb-3">
          <%= form.submit %>
        </div>
      </div>
    </div>
  </div>
  <% if note.errors.any? %>
    <div class="d-flex flex-wrap justify-content-center mt-2">
      <% note.errors.full_messages.each do |message| %>
        <div class="alert alert-danger m-2" role="alert"><%= message %></div>
      <% end %>
    </div>
  <% end %>
<% end %>
