<p id="notice"><%= notice %></p>

<p>
  <strong>Head:</strong>
  <%= @note.head %>
</p>

<p>
  <strong>Body:</strong>
  <%= @note.body %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @note.deadline %>
</p>

<p>
  <strong>Label:</strong>
  <%= link_to @note.label.title, @note.label %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
