<h2 class="px-3 text-center mt-3">Sign Up</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="d-flex flex-row flex-wrap justify-content-center mt-2">
    <div class="card m-1 shadow d-flex flex-column justify-content-between bg-light border-0" style="width: 25rem;">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="card-body d-flex flex-column justify-content-between">
        <div class="field mb-1">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "text-center form-control mb-2", placeholder: "Email" %>
        </div>
        <div class="field mb-1">
          <%= f.password_field :password, autocomplete: "new-password", class: "text-center form-control mb-2", placeholder: "Password"%>
        </div>
        <div class="field mb-2 text-center">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "text-center form-control mb-2", placeholder: "Confirm Password"%>
          <% if @minimum_password_length %>
            <em>(Password must be <%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>
        <div class="actions">
          <%= f.submit "Sign Up", class: "btn btn-outline-primary shadow w-100 border-0" %>
        </div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
<% end %>
