<!DOCTYPE html>
<html>
  <head>
    <title>NotesApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="container-fluid trix-content change-font align-items-center">
    <%= render "header2" %>
    <%= yield %>
    <%= render "new-items" %>
    <div class="d-flex flex-wrap justify-content-center fixed-bottom m-5">
      <% if notice %>
        <div class="alert alert-success text-center m-3"><%= notice %></div>
      <% end %>
      <% if alert %>
        <div class="alert alert-danger text-center m-3"><%= alert %></div>
      <% end %>
    </div>
  </body>
</html>
